* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  position: relative;
  margin: 16px auto;
  display: block;
}

.img-wrapper {
  position: absolute;
  display: block;
  border-radius: 7px;
  overflow: hidden;
  background: #fff;
}

img.thumbnail {
  width: 100%;
}

.caption {
  padding: 16px;
}
