#root {
  position: relative;
  margin: 0 auto;
  /* background: blanchedalmond; */
  display: block;
}

.img-wrapper {
  position: absolute;
  display: block;
  border-radius: 7px;
  overflow: hidden;
  background: #fff;
}

img {
  width: 100%;
}

.caption {
  padding: 16px;
}
